/*----------import module----------*/
@import "../../../libs/scss/bourbon/bourbon";
@import "../../../libs/scss/rem";

footer {
    padding: rem(20) 0;
    background: #000000;
    width: 100%;
    color: #626262;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    z-index: 999;
    span {
        margin-bottom: rem(20);
        display: block;
        height: rem(42);
        img {
            height: 100%;
        }
    }
    p {
        margin-left: - rem(150);
        display: block;
        width: 150%;
        @include transform(scale(0.6));
    }
    em {
        margin: rem(5) 0 rem(5) (- rem(160));
        display: block;
        width: 150%;
        @include transform(scale(0.5));
    }
}